.custom-navbar-detail {
    padding: 15px 50px;
    background-color: #FAFAFA;
    border-bottom: 1px solid #D9D9D9;
    width: 100%;
    transition: all 0.3s ease;
    z-index: 999;
    position: absolute;
}
.custom-navbar-detail span {
    font-family: 'Inter-regular', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.2px;
    color: #030303;
}
.custom-navbar-detail span {
    font-family: 'Inter-regular', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.2px;
    color: #030303;
}
.custom-navbar-detail .hover-overlay:hover span {
    color: #fff; 
}
  
.custom-navbar-detail.sticky {
    padding: 15px 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #F0F0F0;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.custom-navbar-detail.sticky span {
    font-family: 'Inter-regular', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.2px;
    color: #030303;
}
.custom-navbar-detail.sticky span {
    font-family: 'Inter-regular', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.2px;
    color: #030303;
}
.custom-navbar-detail.sticky .hover-overlay:hover span {
    color: #fff; 
}



.custom-navbar-detail-2 {
  padding: 15px 50px;
  background-color: #EDEDED;
  border-bottom: 1px solid #D9D9D9;
  width: 100%;
  transition: all 0.3s ease;
  z-index: 999;
  position: absolute;
}
.custom-navbar-detail-2 span {
    font-family: 'Inter-regular', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.2px;
    color: #030303;
}
.custom-navbar-detail-2 span {
    font-family: 'Inter-regular', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.2px;
    color: #030303;
}
.custom-navbar-detail-2 .hover-overlay:hover span {
    color: #fff; 
}
  
.custom-navbar-detail-2.sticky {
    padding: 15px 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #F0F0F0;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.custom-navbar-detail-2.sticky span {
    font-family: 'Inter-regular', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.2px;
    color: #030303;
}
.custom-navbar-detail-2.sticky span {
    font-family: 'Inter-regular', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.2px;
    color: #030303;
}
.custom-navbar-detail-2.sticky .hover-overlay:hover span {
    color: #fff; 
}
#navbar-spacer-detail {
    height: 100px; 
    display: none;
}
.headline-section{
  padding: 100px !important;
}
.headline-section-mobile{
  margin-top: 70px !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.headline-card {
    border-radius: 1.5rem;
  }

  .headline-section h2 {
    font-size: 2.25rem;
  }

  .headline-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-top-right-radius: 1.5rem !important;
    border-bottom-right-radius: 1.5rem !important;
  }
  .headline-image-mobile img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .headline-desc{
    /* border-radius: 20px; */
    background: #F0F0F0;
  }
  .headline-desc-mobile{
    padding: 10px !important;
    border-radius: 10px;
    justify-content: space-between;
    background: #F0F0F0;
  }
.categories {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px !important;
  margin-top: 40px !important;
  flex-wrap: wrap;
}
.categories-mobile {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px !important;
  margin-top: 40px !important;
  flex-wrap: wrap;
}

.category {
  width: 210px;
  padding: 15px 20px;
  border: 1px solid #E63822;
  background: transparent;
  color: #E63822;
  font-family: 'Inter-bold',sans-serif;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  line-height: 18.2px;
  gap: 4px;
}
.category-mobile {
  width: 158px;
  padding: 10px;
  border: 1px solid #E63822;
  background: transparent;
  color: #E63822;
  font-family: 'Inter-bold',sans-serif;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  line-height: 18.2px;
  gap: 2px;
}
.category-mobile.active,
.category-mobile:hover {
  background-color: #E63822;
  color: white;
}

.category.active,
.category:hover {
  background-color: #E63822;
  color: white;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

.card {
  background-color: white;
  border-radius: 10px;
  flex-shrink: 0;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.card-body {
  padding: 20px !important;
}

.meta {
  font-size: 14px;
  color: #888;
  margin-bottom: 8px;
}

.meta .tag {
  color: var(--Red-Guideline, #E63822);
  font-family: 'Roboto-bold',sans-serif;
  font-size: 12px;
  line-height: 15.6px;
}

.card-body h3 {
  color: var(--Black-Guideline, #030303);
  font-family: 'Roboto-bold',sans-serif;
  font-size: 18px;
  line-height: 23.4px;
  margin-bottom: 10px;
}
  
.news-related {
  padding-left: 100px !important;
  padding-right: 100px !important;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  background-color: #fafafa;
}
.news-related-mobile{
  padding: 20px !important;
  background-color: #fafafa;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  gap: 20px;
}

.pagination button {
  padding: 10px 15px;
  border: none;
  background-color: #f0543c;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.pagination button:disabled {
  background-color: #ccc !important;   
  color: #666 !important;              
  cursor: not-allowed;                 
  opacity: 0.7;
  border: none;
  pointer-events: none;
  transition: all 0.3s ease;
}
.pagination button:hover:not(:disabled) {
  background-color: #f0543c;
}

.pagination span {
  font-weight: bold;
}
.news-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  display: block;
}
.detail-news{
  padding: 110px !important;
  background: #EDEDED;
  height: 600px;
}
.detail-news-mobile{
  padding-top: 50px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-bottom: 20px !important;
  background: #EDEDED;
}
.news-content{
  padding-left: 110px !important;
  padding-right: 110px !important;
  padding-bottom: 110px !important;
}
.text-quotes{
  color: var(--dark-3-body-text-color, #6B7280);
  font-family: 'Lato-regular',sans-serif;
  font-size: 16px;
  line-height: 20.8px;
}
.text-quotes-mobile{
  color: var(--dark-3-body-text-color, #6B7280);
  font-family: 'Lato-regular',sans-serif;
  font-size: 10px;
  line-height: 13px;
}
.text-header{
  color: var(--Black-Guideline, #030303);
  font-family: 'Roboto-bold',sans-serif;
  font-size: 53px;
  line-height: 68.9px;
}
.text-header-mobile{
  color: var(--Black-Guideline, #030303);
  font-family: 'Roboto-bold',sans-serif;
  font-size: 20px;
  line-height: 26px;
}
.text-category{
  color: var(--Red-Guideline, #E63822);
  font-family: 'Roboto-bold',sans-serif;
  font-size: 12px;
  line-height: 15.6px;
}
.text-title{
  color: var(--Black-Guideline, #030303);
  font-family: 'Roboto-bold',sans-serif;
  font-size: 22px;
  line-height: 28.6px;
}
.text-excerpt{
  color: var(--dark-3-body-text-color, #6B7280);
  font-family: 'Inter-regular',sans-serif;
  font-size: 12px;
  line-height: 15.6px;
}
.text-publish{
  color: var(--dark-3-body-text-color, #6B7280);
  font-family: 'Inter-regular',sans-serif;
  font-size: 12px;
  line-height: 15.6px;
}
.text-related{
  color: var(--Black-Guideline, #030303);
  text-align: center;
  font-family: 'Roboto-bold',sans-serif;
  font-size: 34px;
  line-height: 44.2px;
}
.text-related-mobile{
  color: var(--Black-Guideline, #030303);
  text-align: center;
  font-family: 'Roboto-bold',sans-serif;
  font-size: 20px;
  line-height: 26px;
}
.image-wrapper {
  height: 400px;
  overflow: hidden;
  margin-top: -250px !important;
  position: relative;
  z-index: 1;
}
.ratio-wrapper {
  aspect-ratio: 18 / 9;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: -250px;
  position: relative;
  z-index: 1;
  border-radius: 12px;
}

.img-detail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.social-icons {
  width: 50px;
  position: sticky;
  top: 100px;
}

.social-icons a {
  transition: transform 0.2s ease;
}

.social-icons a:hover {
  transform: scale(1.1);
}

.news-thumbnail {
  height: 200px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.news-contents{
  padding-left: 100px !important;
  padding-right: 100px !important;
  padding-bottom: 50px !important;
}

.breadcrumb-custom {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumb-custom li {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-family: 'Inter-regular',sans-serif;
  color: #6B7280;
  line-height: 15.6px;
}
.breadcrumb-custom a {
  text-decoration: none;
  color: #6B7280;
}
.breadcrumb-custom li:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 16px;
  margin: 0 8px;
  background-color: currentColor;

  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='15' height='16' viewBox='0 0 15 16' fill='none'><path d='M5.15625 3.3125L9.84375 8L5.15625 12.6875' stroke='%236B7280' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg>") no-repeat center;
  mask-size: contain;

  -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='15' height='16' viewBox='0 0 15 16' fill='none'><path d='M5.15625 3.3125L9.84375 8L5.15625 12.6875' stroke='%236B7280' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg>") no-repeat center;
  -webkit-mask-size: contain;
}
.badge-category{
  width: 157px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: 1px solid var(--Red-Guideline, #E63822);
  margin-bottom: 20px !important;
}
.text-badge{
  color: var(--Red-Guideline, #E63822);
  text-align: center;
  font-family: 'Inter-regular',sans-serif;
  font-size: 14px;
  line-height: 18.2px;
}
.txt_detail_title{
  color: var(--Black-Guideline, #030303);
  text-align: center;
  font-family: 'Roboto-bold',sans-serif;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 10px !important;
}
.txt_author{
  color: var(--Grays-Black, var(--Grays-Black, #000));
  text-align: center;
  font-family: 'Roboto-regular',sans-serif;
  font-size: 14px;
  line-height: 18.2px;
}
.txt_publish{
  color: var(--dark-4-alternative-body-text-color, #9CA3AF);
  text-align: center;
  font-family: 'Inter-regular',sans-serif;
  font-size: 12px;
  line-height: 15.6px;
}
.txt_content_title{
  color: var(--dark-2-alternative-heading-color, #4D4D4D);
  font-family: 'Roboto-bold',sans-serif;
  font-size: 28px;
  line-height: 36.4px;
}
.txt_content_desc{
  color: var(--dark-3-body-text-color, #6B7280);
  font-family: 'Lato-regular',sans-serif;
  font-size: 16px;
  line-height: 20.8px;
}
.txt_read_another{
  color: var(--Black-Guideline, #030303);
  font-family: 'Roboto-bold',sans-serif;
  font-size: 34px;
  line-height: 44.2px;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

@media (max-width: 991.98px) {
  .headline-card {
    flex-direction: column;
  }
  .headline-image img {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
  }
}

@media (max-width: 430px) {
  .cards {
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
  }

  .cards.single-card {
    grid-template-columns: repeat(1, 1fr);
  }

  .card .news-image {
    width: 100%;
    height: 102.923px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 10px 0 0 10px;
  }

  .card-body {
    padding: 10px !important;
    flex: 1;
  }

  .card-body h3 {
    font-size: 9px;
    line-height: 11.7px;
  }

  .text-publish{
    font-size: 6px;
    line-height: 7.8px;
  }
  .meta{
    font-size: 8px;
    color: #D9D9D9;
    margin-bottom: 8px;
  }

  .meta .tag {
    font-size: 6px;
    line-height: 7.8px;
  }

  .text-excerpt {
    font-size: 8px;
    line-height: 10.4px;
  }
  .txt_detail_title{
    text-align: center;
    font-size: 20px;
    line-height: 26px;
    margin-top: 30px;
  }
  .badge-category{
    text-align: center;
    font-size: 8px;
    line-height: 10.4px;
  }
  .txt_publish{
    font-size: 8px;
    line-height: 10.4px;
  }
  .txt_author{
    font-size: 10px;
    line-height: 13px;
  }
  .image-wrapper {
    margin: 0 !important;
  }
  .news-contents {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .txt_content_title{
    font-size: 17px;
    line-height: 22.1px;
  }
  .txt_content_desc{
    font-size: 10px;
    line-height: 13px;
  }
  .social-icon{
    display: flex;
    align-items: flex-start;
    gap: 21px;
    padding-left: 10px !important;
  }
  .txt_read_another{
    font-size: 20px;
    line-height: 26px;
  }
  .text-category{
    font-size: 6px;
    line-height:7.8px;
  }
  .text-title{
    font-size: 9px;
    line-height: 11.7px;
  }
  .news-thumbnail {
    width: 100%;
    height: 102.923px;
  }
}
.relatedNews{
  padding: 10px !important;
}
  