.pricelist{
  padding: 50px !important;
}
.pricelist-title {
    color: #E63822;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
  }

  .package-tabs {
    justify-content: center;
    margin-top: 30px;
  }

  .package-tabs .btn {
    border-radius: 30px;
    margin: 0 10px;
    font-weight: 600;
  }

  .package-tabs .btn.active {
    background-color: #E63822;
    color: white;
  }

  .pricing-card {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .pricing-title {
    color: #E63822;
    font-weight: bold;
  }

  .pricing-price {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
  }

  .pricing-list {
    text-align: left;
    margin-top: 20px;
  }

  .pricing-list li {
    margin-bottom: 10px;
  }

  .pricing-list i {
    color: #E63822;
    margin-right: 8px;
  }

  .btn-contact {
    background-color: #fff;
    border-radius: 20px;
    width: 157px;
    border: 1px solid  #E63822;
    color: #E63822;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
  }

  .btn-contact:hover {
    background-color: #E63822;
    color: #fff;
  }
  .btn-contact-mobile {
    background-color: #fff;
    border-radius: 10px;
    width: 101px;
    border: 1px solid  #E63822;
    color: #E63822;
    justify-content: center;
    align-items: center;
  }

  .btn-contact-mobile:hover {
    background-color: #E63822;
    color: #fff;
  }
  .filter-btn{
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    border: none;
    gap: 4px;
  }
  .filter-btn:hover{
    background-color: #E63822;
    color: #fff;
  }

.swiper-button-next,
.swiper-button-prev {
    color: #E63822;
    width: 24px;
    height: 24px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 18px;
}
.h2-roboto{
  color: #E63822;
  text-align: center;
  font-family: 'Roboto-bold', sans-serif;
  font-size: 53px;
  font-weight: 900;
  line-height:  68.9px;
  margin-bottom: 20px;
}
.p-lato{
  color: #4D4D4D;
  text-align: center;
  font-family: 'Lato-regular', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  margin-bottom: 50px;
}
.btn-filter-hover{
  border-radius: 5px;
  border: 1px solid #E63822;
  background:  #E63822;
}
.stat-card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  width: 326px;
  height: 750px;
  padding-bottom: 20px;
  border: 1px solid #030303;
  border-radius: 20px;
  justify-content: flex-start;
  overflow: visible; 
  background: white;
  flex-direction: column;
}
.stat-card-mobile{
  display: flex;
  padding-bottom: 20px !important;
  flex-direction: column;
  width: 190px;
  height: 744px;
  border: 1px solid  #030303;
  border-radius: 10px;
  justify-content: flex-start;
}
.btn-container {
  margin-top: auto;
  text-align: center !important;
}
.btn-container-mobile {
  margin-top: auto;
  text-align: center !important;
}

.card-price{
  border-radius: 20px;
  background: #F2F2F2;
  height: 120px;
}
.card-price-mobile{
  border-radius: 10px;
  background: #F2F2F2;
  height: 100px;
}
.price{
  padding: 20px !important;
  text-align: center;
}
.price-mobile{
  padding: 8px !important;
}
.price-mobile h5{
  color: #E63822;
  text-align: center;
  font-family: 'Roboto-bold', sans-serif;
  text-align: center;
  font-size: 10px;
  line-height: 10px;
}
.price-mobile h4{
  color:#030303;
  font-family: 'Roboto-bold', sans-serif;
  text-align: center;
  font-size: 17.5px;
  line-height: 17.5px;
}
.price-mobile{
  color: #030303;
  font-family: 'Roboto-bold', sans-serif;
  font-size: 17.5px;
  line-height: 17.5px;
}
.feature{
  /* padding: 20px !important; */
  padding-top: 10px !important;
  padding-left: 40px !important;
  padding-right: 40px !important;
  padding-bottom: 20px !important;
  flex-grow: 1;
}
.feature-mobile{
  padding: 10px !important;
  flex-grow: 1;
}
.spacer {
  flex-grow: 1;
}
ul.multi-column {
  column-count: 2;
  column-gap: 2rem;
}

ul.multi-column li {
  break-inside: avoid;
}
.stat-card-wrapper{
  padding: 0 !important;
  margin: 0 !important;
}
.stat-card-wrapper-wide {
  padding-top: 40px !important; 
}
.stat-card.wide-card {
  /* max-width: 40%; */
  width: 498px;
  height: 750px;
  border: 1px solid #030303;
  border-radius: 20px;
  flex: 0 0 40%;
}
.stat-card-mobile.wide-card {
  max-width: 40%;
  height: 750px;
  border: 1px solid #030303;
  border-radius: 20px;
  flex: 0 0 40%;
}
.txt_feature_mobile{
  color: #030303;
  font-family: 'Lato-regular', sans-serif;
  font-size: 9px;
  font-weight: 400;
  line-height: 10px;
}
.txt_feature{
  color: #030303;
  font-family: 'Lato-regular', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
}
.icon-check {
  color: #E63822;
}
.feature ul {
  margin-bottom: 2rem;
}


/* for mobile view */
.pricelist-mobile{
  padding-top: 80px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-bottom: 10px !important;
}
.h2-roboto-mobile{
  color: #E63822;
  text-align: center;
  font-family: 'Roboto-bold', sans-serif;
  font-size: 25px;
  line-height:  32.5px;
  margin-bottom: 20px;
}
.p-lato-mobile{
  color: #4D4D4D;
  text-align: center;
  font-family: 'Lato-regular', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  margin-bottom: 20px;
}
.filter-tab-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 kolom */
  gap: 3px;
  max-width: 430px;
  justify-items: center;
}
.tab-sticky{
  height: 270px;
  position: sticky;
  top: 65px !important;
  z-index: 1000;
  padding: 10px;
  background-color: #fff; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.filter-btn-mobile {
  color: #E63822;
  padding: 10px;
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  border: none;
  /* gap: 4px; */
  width: 170px;
  border-radius: 5px;
  transition: all 0.3s ease; 
}
.txt_category{
  text-align: center;
  font-family: 'Inter-regular','sans-serif';
  font-size: 10px;
  font-style: normal;
  line-height: 13px;
}
.txt_utilities{
  text-align: center;
  font-family: 'Roboto-bold','sans-serif';
  font-size: 30px;
  font-style: normal;
  line-height: 25px;
}

.special-offer-banner {
  position: absolute;
  width: 200px;
  background-color: #E63822;
  color: white;
  font-weight: bold;
  font-size: 12px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
  /* border-radius: 5px; */
}
.card-offer{
  position: relative;
  z-index: 1;
}
.filter-button-group{
    position: relative;
    z-index: 1;
}

.filter-btn-mobile.active {
  background-color: #E63822 !important;
  color: #fff !important;
  transform: scale(1.05);
}
.filter-btn-mobile:hover {
  background-color: #E63822;
  color: #fff;
}
.txt_contact{
  color: #E63822;
  text-align: center;
  font-family: 'Inter-regular','sans-serif';
  font-size: 10px;
  line-height: 13px;
}
#navbar-mobile-pricelist {
  position: sticky;
  top: 0;
  z-index: 1040; /* lebih tinggi dari tab-sticky */
  background-color: #fff; /* atau warna nav kamu */
}
.small, small {
  font-size: 10px;
}
.sub-title{
  padding: 0;
  margin: 0;
  font-family: 'Roboto-regular', sans-serif;
  font-size: 10px;
  text-align: center;
  line-height: 10px;
  font-weight: 400;
  color: #030303;
}
.feature-desc{
  /* padding: 20px; */
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  color: #030303;
  font-family: 'Lato-bold', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: start; 
}
.add_ons_title{
  color: #030303;
  font-family: 'Lato-bold', sans-serif;
  font-size: 14px;
  line-height: 18.2px;
  text-align: start;
}
