.service{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/assets/img/quote-bg.png'); 
    background-size: cover; 
    background-position: center; 
    height: 40vh;
    overflow: hidden;
}
.roboto-h2-red{
    font-family: 'Roboto-bold',sans-serif;
    font-size: 53px;
    font-weight: 900;
    line-height: 69px;
    color: #E63822;
}
.roboto-h2-title{
    font-family: 'Roboto-bold',sans-serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 69px;
    color: #E63822;
}
.lato-regular-desc{
    font-family: 'Lato-regular', sans-serif;
    font-size: 16px;
    line-height: 20.8px;
    text-align: justify;
  }
/* .swiper-slide{
    width: 243px;
    height: 425px;
    background-size: cover;
    background-position: center;
} */
.img-security{
    width: 243px;
    height: 425px;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease-in-out;
}

.img-security:hover {
    transform: scale(1.03);
    z-index: 2;
}

.slide-link {
    height: 100%;
    width: 100%;
    display: block;
    color: inherit;
    text-decoration: none;
    transition: background 0.3s;
}
/* .slide-link:hover{
    background: linear-gradient(160deg, rgba(223, 0, 1, 0.80) 3.33%, rgba(0, 0, 0, 0.80) 87.7%);
} */

.slide-link:hover .overlay {
    background: rgba(0, 0, 0, 0.6);
}

.img-legal{
    width: 407px;
    height: 425px;
    background-size: cover;
    background-position: center;
}
.img-healthcare{
    width: 305px;
    height: 425px;
    background-size: cover;
    background-position: center;
}
.swiper-controls {
    font-size: 14px;
    font-weight: bold;
    color: #000;
}
  
.swiper-button-prev,
.swiper-button-next {
    width: 24px;
    height: 24px;
    background: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
}
  
.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 18px;
}
.swiper-controls {
    transition: opacity 0.3s ease;
  }
  .swiper-controls.d-none {
    opacity: 0;
    pointer-events: none;
  }
  
  
.security-service{
    padding: 50px !important;
}
.legal-service{
    padding: 50px !important;
}
.healthcare-service{
    padding: 50px !important;
}
.overlay h1 {
    font-size: 3rem;
    line-height: 1;
}  
.content{
    padding-top: 50px !important;
    padding-left: 200px !important;
    padding-right: 200px !important;
}
.img-content img {
    width: 100%;
    height: auto;
    display: block;
}
.description{
    font-family: 'Lato-regular', sans-serif;
    font-size: 16px;
    line-height: 20.8px;
    font-weight: 400;
    text-align: justify;
}
.roboto-h4{
    font-family: 'Roboto-bold',sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    color: #E63822;
}
.roboto-h2-black{
    font-family: 'Roboto-bold',sans-serif;
    font-size: 53px;
    font-weight: 900;
    line-height: 68.9px;
    color: #030303;
}
.faq{
    background-image: url('/assets/img/faq-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* width: 100%;
    height: 100%; */
}
.faq-content{
    padding-top: 100px !important;
    padding-left: 200px !important;
    padding-right: 200px !important;
    padding-bottom: 100px !important;
}
.faq-section {
    max-width: 700px;
    margin: 0 auto;
  }

  .faq-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .faq-item {
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .faq-question {
    font-family: 'Roboto-bold',sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 28.6px;
    color: #030303;
  }

  .faq-answer {
    display: none;
    padding: 10px 0;
    color: #555;
    font-size: 0.95rem;
  }

  .arrow {
    transition: transform 0.3s ease;
  }

  .faq-item.active .arrow {
    transform: rotate(180deg);
  }

  .faq-item.active .faq-answer {
    display: block;
  }
